<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>food_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{47,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{47,41}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
            <key>food_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{50,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
            <key>food_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{35,35}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{35,35}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
            <key>food_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,128},{33,33}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{33,33}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
            <key>food_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{37,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{37,37}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
            <key>food_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,128},{37,39}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{37,39}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
            <key>food_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,36},{52,46}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{52,46}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
            <key>food_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{56,32}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{56,32}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
            <key>food_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{58,52}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
            <key>food_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,84},{42,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{42,48}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>food.png</string>
            <key>size</key>
            <string>{127,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c0c846e2b261cd9402aba9e703add51$</string>
            <key>textureFileName</key>
            <string>food.png</string>
        </dict>
    </dict>
</plist>
