<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anjiandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{109,42}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{109,42}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{443,3}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{443,3}}</string>
                <key>sourceSize</key>
                <string>{449,29}</string>
            </dict>
            <key>haoyoupaihangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,7},{101,37}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{101,37}}</string>
                <key>sourceSize</key>
                <string>{117,53}</string>
            </dict>
            <key>huangguan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,120},{31,20}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{31,20}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>huangguan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,94},{27,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{27,22}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{116,43}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{116,43}}</string>
                <key>sourceSize</key>
                <string>{124,55}</string>
            </dict>
            <key>paihangbangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,120},{141,324}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{141,324}}</string>
                <key>sourceSize</key>
                <string>{143,344}</string>
            </dict>
            <key>paihangbangjiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{16,18}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{16,18}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>paihangbangtouxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,7},{85,85}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{85,85}}</string>
                <key>sourceSize</key>
                <string>{111,105}</string>
            </dict>
            <key>paihangbangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,7},{91,29}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{91,29}}</string>
                <key>sourceSize</key>
                <string>{103,45}</string>
            </dict>
            <key>shijiepaihangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,7},{101,37}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{101,37}}</string>
                <key>sourceSize</key>
                <string>{117,53}</string>
            </dict>
            <key>sidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{389,125}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{389,125}}</string>
                <key>sourceSize</key>
                <string>{413,151}</string>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,120},{32,33}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{32,33}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paihangbangyuansu.png</string>
            <key>size</key>
            <string>{512,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:833c580267d25c550106d30b753222b8$</string>
            <key>textureFileName</key>
            <string>paihangbangyuansu.png</string>
        </dict>
    </dict>
</plist>
